// Global
* {
  // border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #4b321d;
  font-size: 18px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4b321d;
}

// Navigation
.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 5px;
}

// Logo
.icon {
  font-size: 32px;
  fill: #4b321d;
}

// Burger
.hamburger {
  display: none;
}
.bar {
  transition: all 0.3s ease-in-out;
  background-color: #4b321d;
  display: block;
  margin: 5px;
  height: 3px;
  width: 25px;
}

// Menu
.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  padding: 5px;
}
.nav-item {
  margin-left: 35px;
  padding: 5px;
}
.nav-item:first-child {
  margin-left: 0;
}
.nav-link:hover {
  color: orange;
}

// Media
@media screen and (max-width: 768px) {
  .nav-menu {
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    position: fixed;
    left: -110%;
    width: 100%;
    top: 120px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 25px 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

// Burger active
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
